<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

{% load static %}

<head>

    <title>DJANGO - ADMINDEK BOILERPLATE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/waves.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/feather.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/icofont.css' %}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/bootstrap-tagsinput.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/notification.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/animate.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/multi-select.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admindek/css/pages.css' %}">

</head>


<body>

    <div id="fullpage_loader"></div>

    <div id="toast"></div>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>

        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="{% url 'dashboard_home_page' %}" style="font-size:20px; font-weight:bold;">
                            ADMINDEK
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{% static 'images/user_avatar.jpeg' %}" class="img-radius" alt="User-Profile-Image">
                                        <span>{{ user.first_name  }}</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    
                                        <li>
                                            <a href="{% url 'dashboard_profile_page' %}">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>
                                    
                                        <div id="logout"></div>
                                    
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <div id="side_nav"></div>

                    {% block content %} {% endblock %}

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'build/js/Authentication/LogoutFormMainComp.js' %}"></script>
    <script type="text/javascript" src="{% static 'build/js/Authentication/SideNavMainComp.js' %}"></script>
    <script type="text/javascript" src="{% static 'build/js/Utils/FullPageLoaderComp.js' %}"></script>
    <script type="text/javascript" src="{% static 'build/js/Utils/ToastNotificationComp.js' %}"></script>

    <script type="text/javascript" src="{% static 'admindek/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/waves.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/jquery.slimscroll.js' %}"></script>

    <!-- <script type="text/javascript" src="{% static 'admindek/js/bootstrap-tagsinput.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'admindek/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/jquery.multi-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/jquery.quicksearch.js' %}" ></script>
    <script type="text/javascript" src="{% static 'admindek/js/select2-custom.js' %}"></script>

    <script type="text/javascript" src="{% static 'admindek/js/bootstrap-growl.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'admindek/js/pcoded.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/vertical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admindek/js/script.min.js' %}"></script>

</body>

</html>